html, body{
  background-image:linear-gradient(#2193b0, #6dd5ed);
  font-family: "Mukta"
}

@media only screen and (max-width: 600px) {
  body {
    background-image:linear-gradient(#6dd5ed, #2193b0); 
  }
}

.center {
    margin-left: auto;
    margin-right: auto;
    display: block
}
header {
  position: fixed;
  top: 0;
  min-heigh: 75px;
  padding: 0px 20px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #eee;
  @media(max-width:600px){
    flex-wrap: wrap;
  }
  
}

nav{
  font-weight: 450; 

@media (max-width: 650px)
{
  margin-top: 15px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding 0 50px;
  
  
  li {
    padding-bottom: 5px;
  }
}
  
@media (max-width: 800px)
{
  flex-direction: column;
  }
  

